@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca' sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family:'Big Shoulders Display', cursive;
    text-decoration: underline;
    font-size: 3rem;
    background: linear-gradient(90deg,#e38826 0%, #006970 50% , #004241 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    
}

.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0.9rem;
    margin: 2rem;
    overflow: hidden;
}

.card {
    padding: 2.8rem;
}

.card1{
    background: hsl(31, 77%, 52%);
}

.card2 {
    background: hsl(184, 100%, 22%);
}

.card3 {
    background: hsl(179, 100%, 13%);
}

.card p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    text-align: left;
}

.card h2 {
    margin: 1em 0;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.card a {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    background-color: hsla(0, 0%, 100%, 0.95);
    padding: 0.9rem 1.7rem;
    border-radius: 1.6rem;
    margin-top: 4rem;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .4s ease-in;
}

.card1 a {
    color: hsl(31, 77%, 52%);
}

.card2 a {
    color: hsl(184, 100%, 22%);
}

.card3 a {
    color: hsl(179, 100%, 13%);
}

.card a:hover {
    color: hsl(0, 0%, 95%);
    background: transparent;
}

@media only screen and (max-width: 768px){
    .wrap {
        grid-template-columns: 1fr;
    }
}
